@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #B89D7F;
  font-family: 'Josefin Slab', serif;
}

a {
  text-decoration: none;
  margin: 0 1em 0 1em;
}

a:hover {
  text-decoration: underline;
}

#logo {
  font-family: 'Amatic SC', cursive;
}

#logo:hover {
  cursor: default;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 2em;
}

button {
  background-color: #B89D7F;
  border: none;
  margin: 1.5em;
  padding: 10px;
  font-family: 'Josefin Slab', serif;
}

button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
}

content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

article {
  width: 80vw;
  margin: 5vh 10vw;
  border: 1px solid black;
}

#addDrinkForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 0 25vw;
  padding: 5vh 5vw;
}