@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #B89D7F;
  font-family: 'Amatic SC', serif;
}

body {
  background-image: url('/getImage');
}

h1 {
  color: white;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0 1em 0 1em;
}

a:hover {
  text-decoration: underline;
}

#logo {
  font-family: 'Amatic SC', cursive;
}

#logo:hover {
  cursor: default;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 2em 2em 2em;
}

button {
  background-color: #B89D7F;
  border: none;
  font-size: 25px;
  color: white;
  margin: 2vh 2vw;
  padding: 0 5vw;
  font-family: 'Amatic SC', serif;
}

button:hover {
  cursor: pointer;
  background-color: #48321d;
  border-radius: 10px;
}

content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#output {
  /* position: fixed;
  overflow-y: scroll;
  overflow-x: hidden; */

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: fixed;
  overflow-y: scroll;
  width: 80vw;
  margin: 0 10vw;
}

#sortField {
  height: 10vh;
}

article {
  width: 80vw;
  margin: 5vh 10vw;
  border: 1px solid black;
}

#addDrinkForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 0 15vw;
  padding: 5vh 5vw;
}

#drinkLists {
  display: none;
}

.formItem {
  font-size: 25px;
}

label {
  display:inline-block;
  width: 150px;
  text-align: right;
  padding: 14px 10px 0 0;
  margin:0 0 7px 0;
}

input, textarea {
  display:inline-block;
  width: 200px;
  margin:0 0 7px 0;
}​

#drinkField, #dateField, #cafeField, #costField, #ratingField {
  height: 35px;
  border: none;
  border: 1px solid #48321d;
  background-color: white;
}

#descField {
  height: 50px;
  border: 1px solid #48321d;
  background-color: white;
}