@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #C9FFC9;
  font-family: 'Josefin Slab', serif;
}

a {
  text-decoration: none;
  margin: 0 1em 0 1em;
}

a:hover {
  text-decoration: underline;
}

#logo {
  font-family: 'Amatic SC', cursive;
}

#logo:hover {
  cursor: default;
}

#navLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 2em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 2em;
}

